@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=PT+Serif:wght@400;700&family=Poppins:wght@400;600&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

:root {
    --color: #000;
    --font-1: "Poppins", sans-serif;
    --font-2: "PT Serif", Serif;
    --font-3: "Montserrat", sans-serif;
  }

html {
    max-width: 1440px;
    min-width: 375px;
    margin: 0 auto;
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 450px;
    background-color: #FAFAFA;
    margin: 25px auto 0 auto;
    box-shadow: 0px 2px 50px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }

.container {
    width: 66.66667%;
    min-width: 375px;
    margin: 0 auto;
    padding: 7.387508% 1% 0 1%;
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header h1 {
    font-family: var(--font-2);
    font-style: normal;
    font-weight: bold;
    font-size: 3.6rem;
    line-height: 133.3333%;
    letter-spacing: -0.045em;
    color: var(--color);
}

.header h2 {
    margin-bottom: 10px;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 150%;
    text-transform: uppercase;
    color: var(--color);
}

.header p {
    width: 439px;
    height: 87px;
    font-family: var(--font-1);
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 150%;
    color: var(--color);
}